.top-bar {
    background-color: #CCE6FF;
    padding-top: 20px;
}
.top-bar-titolo {
    color: #0073E6;
    font-size: 20px;
}
.top-bar-attributes {
    color: #5C6F82;
    font-size: 14px;
}
.top-bar-attributes-values {
    color: #5C6F82;
    font-size: 14px;    
}
.attributes-1 {
    color: #5C6F82;
    font-size: 16px;
}
.attributes-2 {
    color: #5C6F82;
    font-size: 15px;
}
.attributes-value-validare {
    color:orange;
    font-size:  14px;
}
.validato {
    color: #A2ADB8;    
}
.error {
    font-size: 12px;
    color: #FF667D;
    font-style: italic;
}
.progress-bar-determinate {
  height: 8px;
  --progress-background: #10D390;
  --background: white;
}
.item-container {
    .item {
        background-color: #E6E9F2;
    }
    .para {
        text-align: justify;
        color: #707070;
    }
    .text-area {
        align-content: left;
        width: 100%;
        background: #F0F6FC;    
        border: none;
        font-size: 14px;
        font-family: 'Titillium Web';
    }
    .sc-ion-textarea-md-h {
        --placeholder-font-style: italic;
    }
    
}
