<ion-header *ngIf="attivita && presenze">
    <!-- <ion-toolbar *ngIf="backEnabled">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar> -->
    <ion-grid class="top-bar">
        <ion-row class="v-center top-bar-titolo text-semibold" *ngIf="backEnabled">
            <ion-back-button defaultHref="home"></ion-back-button>{{attivita.aa.titolo}}
        </ion-row>
        <ion-row *ngIf="!backEnabled">
            <span class="top-bar-titolo text-semibold">{{attivita.aa.titolo}}</span>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-progress-bar value="{{percentage}}"></ion-progress-bar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <span class="top-bar-attributes text-semibold">Ore inserite:</span><span
                    class="top-bar-attributes-values">{{attivita.oreValidate + attivita.oreDaValidare}}</span>
            </ion-col>
            <ion-col size="6">
                <span class="float-right">
                    <span class="top-bar-attributes text-semibold">Da validare:&nbsp;</span><span class="attributes-value-validare">{{attivita.oreDaValidare}}</span>
                </span>                
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col *ngIf="attivita.aa.oraInizio && attivita.aa.oraFine">
                <span class="top-bar-attributes text-semibold">Orario:</span>
                <span class="top-bar-attributes-values">{{attivita.aa.oraInizio }} - {{attivita.aa.oraFine}}</span>
            </ion-col>
            <ion-col class="float-right">
                <span class="top-bar-attributes text-semibold">Periodo:</span>
                <span class="top-bar-attributes-values">{{attivita.aa.dataInizio | date: 'dd/MM/yyyy' }} -
                    {{attivita.aa.dataFine | date: 'dd/MM/yyyy' }}</span>
            </ion-col>
        </ion-row>
        <br>
    </ion-grid>
</ion-header>
<ion-content *ngIf="attivita && presenze">
    <ion-list class="item-container">
        <ion-card id="{{giorno.giornata}}" [style.border]="border(giorno)" [disabled]="isInfuture(giorno) || attivita.aa.stato=='archiviata'" class="item"
            *ngFor="let giorno of presenze" (click)="input(giorno)">
            <ion-card-header>
                <ion-row>
                    <ion-col size="8">
                        <span [style.color]="textColor(giorno)"
                            class="attributes-1 text-bold ion-text-lowercase">{{ giorno.giornata | date: 'dd MMMM yyyy' }}
                            <span [style.color]="textColor(giorno)" class="attributes-1 text-bold ion-text-capitalize"> -
                                {{ giorno.giornata | date: 'EEEE' }}</span>
                        </span>
                    </ion-col>
                    <ion-col>
                        <span *ngIf="giorno.verificata" class="float-right text-italic validato">Validato</span>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row *ngIf="isError(giorno)">
                    <ion-col>
                        <span class="error">Attenzione: giornata non compilata</span>
                    </ion-col>
                    <br>
                    <br>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span [style.color]="validatoTextColor(giorno)" class="attributes-2 text-semibold">Ore inserite:&nbsp;</span><span
                        [style.color]="validatoTextColor(giorno)" class="attributes-2">{{ viewOre(giorno) }}</span>
                    </ion-col>                    
                </ion-row>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <p class="para" *ngIf="giorno.verificata">{{giorno.attivitaSvolta}}</p>
                        <ion-textarea class="text-area" sytle="placeholder-font-style:italic"
                            *ngIf="!giorno.verificata" [(ngModel)]="giorno.attivitaSvolta"
                            placeholder="inserisci diario di bordo."></ion-textarea>
                    </ion-col>                    
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>