.header-titolo {
    color: #0073E6;
    font-size: 20px;
    margin: 0!important;
}
.footer-imgTN{
    max-width: 30px !important;
    max-height: 48px !important;
}
.footer-imgFBK{
    margin-top: 7%;
    max-width: 48px !important;
    // max-height: 58px !important;
}
.p1 {
    color: #5C6F82;
    font-size: 18px;
}