.header-titolo {
    color: #0066CC;
    font-size: 20px;
}
.footer-imgTN{
    max-width: 30px !important;
    max-height: 48px !important;
}
.footer-imgFBK{
    margin-top: 7%;
    max-width: 48px !important;
    // max-height: 58px !important;
}
.p1 {
    color: #707070;
    font-size: 18px;
}