.header-titolo {
    color: #5C6F82;
    font-size: 24px;
}
.titolo {
    color: #0073E6;
    font-size: 20px;
    margin: 0px;
}
.attributes {
    color: #5C6F82;
    font-size:  14px;
}
.attributes-value {
    color: #5C6F82;
    font-size:  14px;
}
.attributes-value-validare {
    color:#5C6F82;
    font-size:  14px;
}
.map {
    height:300px;
    width:100%;
    // border: 2px solid #0073E6;
}
.heading-2 {
    color: #5C6F82;
    font-size: 18px;
}
.button-upload {
    font-size: 16px;
    background: #0073E6;
    color: white;
    font-weight: bold;
    text-transform: none;
    text-shadow: 0 0 black;
    width: 200px;
    height: 48px;
    text-align: center !important;
}
.button-delete {
    // font-size: 16px;
    background: #F83E5A;
    border-color: #D1344C;
    color: white;
    font-weight: bold;
    text-transform: none;
    text-shadow: 0 0 black;
    width: 128px;
    height: 32px;
    border-radius: 5px;
}
.delete-label-button {
    color: white;
}
.label-button {
    position: relative;
    top: 20%;
    color: white;
}
.icon {
    font-size: 18px;
    color: white;
    position: relative;
    top: 3px;
}
.icon-delete {
    font-size: 25px;
    color: white;
    position: relative;
    top: 3px;
}
.files-list {
    list-style: none;
    padding: 0em;
    text-decoration: underline;
}
.list-group-item {
    color: #0073E6;   
}
.link-presenze {
    color: #0066CC;
    font-size: 14px;
}
.icon-presenze {
    width: 24px;
    height: 24px;
}
.disabled {
    background-color: #dddddd;
    pointer-events: none;
}
.item {
    background-color:#F0F6FC;
    margin: 5px 0;
}



