<ion-header *ngIf="aa && es">
    <h1 class="v-center titolo text-semibold">
        <ion-back-button defaultHref="home"></ion-back-button>{{aa.titolo}}
    </h1>
</ion-header>
<br>
<ion-content>
    <ion-grid *ngIf="aa && es">
        <ion-row>
            <ion-col>
                <span class="attributes text-semibold">Stato:&nbsp;<span [style.color]="getColor(aa)">{{
                        getStatoNome(aa.stato) }}</span></span>
            </ion-col>
        </ion-row>
        <br />
        <ion-row *ngIf="!aa.rendicontazioneCorpo">
            <ion-col>
                <a class="link-presenze v-center noUnderLine" href="javascript:void(0);" (click)="openPresenze(aa, es)">
                    <ion-icon class="icon-presenze" src="./assets/icon/it-calendar.svg"></ion-icon>&nbsp;Vedi presenze
                    attività
                </a>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="es.valutazioneEsperienza">
            <ion-col>
                <span class="attributes text-semibold">Valutazione:&nbsp;</span><span [ngStyle]="styleStatoVal(es)">{{setValStatus(es)}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="es.valutazioneEsperienza">
            <ion-col>
                <a class="link-presenze v-center noUnderLine" href="javascript:void(0);" (click)="openValutazioneEsp(es)">
                    <ion-icon class="icon-presenze" src="./assets/icon/valutazione_studente.svg"></ion-icon>&nbsp;{{action(es)}} valutazione attività
                </a>
           </ion-col> 
        </ion-row>
        <ion-row *ngIf="es.valutazioneCompetenze">
            <ion-col>
                <a class="link-presenze v-center noUnderLine" href="javascript:void(0);" (click)="openValutazioneCompetenze(es)">
                    <ion-icon class="icon-presenze" src="./assets/icon/competenze.svg"></ion-icon>&nbsp;Visualizza valutazione competenze
                </a>
           </ion-col> 
        </ion-row>        
        <br />
        <ion-row>
            <ion-col size="6">
                <span class="attributes text-semibold ">Ore inserite:&nbsp;</span><span
                    class="attributes-value">{{attivita.oreValidate + attivita.oreDaValidare}}</span>
            </ion-col>
            <ion-col size="5">
                <span class="float-right">
                    <span class="attributes text-semibold">Da validare:&nbsp;</span><span
                        class="attributes-value-validare">{{attivita.oreDaValidare}}</span>
                </span>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col><span class="attributes text-semibold">Periodo:&nbsp;</span><span
                    class="attributes-value">{{aa.dataInizio | date: 'dd/MM/yyyy' }} -
                    {{aa.dataFine | date: 'dd/MM/yyyy' }}</span></ion-col>
        </ion-row>
        <ion-row *ngIf="aa.oraInizio && aa.oraFine">
            <ion-col>
                <span class="attributes text-semibold"><br>Orario:&nbsp;</span><span
                    class="attributes-value">{{aa.oraInizio }} - {{aa.oraFine}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.nomeEnte">
            <ion-col>
                <span class="attributes text-semibold"><br>Presso:&nbsp;</span>
                <span class="attributes-value ion-text-capitalize">{{aa.nomeEnte}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.luogoSvolgimento">
            <ion-col>
                <span class="attributes text-semibold"><br>Indirizzo:&nbsp;</span>
                <span class="attributes-value ion-text-capitalize">{{aa.luogoSvolgimento}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.referenteEsterno">
            <ion-col><span class="attributes text-semibold"><br>Tutor aziendale:&nbsp;</span><span
                    class="attributes-value ion-text-capitalize">{{aa.referenteEsterno}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.referenteEsternoTelefono">
            <ion-col><span class="attributes text-semibold"><br>Telefono tutor aziendale:&nbsp;</span><span
                    class="attributes-value ion-text-capitalize">{{aa.referenteEsternoTelefono}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.referenteScuola">
            <ion-col><span class="attributes text-semibold"><br>Tutor scolastico:&nbsp;</span><span
                    class="attributes-value ion-text-capitalize">{{aa.referenteScuola}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="aa.referenteScuolaTelefono">
            <ion-col><span class="attributes text-semibold"><br>Telefono tutor scolastico:&nbsp;</span><span
                    class="attributes-value ion-text-capitalize">{{aa.referenteScuolaTelefono}}</span>
            </ion-col>
        </ion-row>
        <br>
        <ion-row *ngIf="hasCoordinate()">
            <ion-col>
                <div id="map" class="map"></div>
            </ion-col>
        </ion-row>
        <br>
        <ion-row class="heading-2 text-semibold">Documenti allegati:</ion-row>
        <div class="item" *ngFor="let documento of es.documenti">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class="attributes">
                            <span class="text-semibold">Nome file:&nbsp;&nbsp;&nbsp;</span>
                            <a class="noUnderLine" href="javascript:void(0);" (click)="openDocument(documento)"
                                target="_blank">
                                {{documento?.nomeFile}}
                            </a>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span class="attributes">
                            <span class="text-semibold">Tipologia:&nbsp;&nbsp;&nbsp;</span>
                            <span> {{ setDocType(documento.tipo) }}</span>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span class="attributes">
                            <span class="text-semibold">Data caricamento:&nbsp;&nbsp;&nbsp;</span>
                            <span>{{documento.dataUpload | date: 'dd/MM/yy' }}
                            </span>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <div class="button-delete">
                        <a class="delete-label-button noUnderLine" href="javascript:void(0);"
                            (click)="showDeleteConfirmationAlert(documento)">
                            <ion-icon class="icon-delete" src="./assets/icon/it-delete.svg"></ion-icon>
                            &nbsp;&nbsp;&nbsp;
                            <label class="font-14">Elimina file</label>
                        </a>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="!es?.documenti || es?.documenti.length==0" class="attributes">
            Nessun documento attualmente caricato
        </div>
        <br>
        <ion-row>
            <div *ngIf="attivita.aa.stato != 'archiviata'" class="button-upload">
                <a class="label-button noUnderLine" href="javascript:void(0);" (click)="openDocumentUpload()">
                    <label>Carica documento &nbsp;&nbsp;&nbsp;
                        <ion-icon class="icon" src="./assets/icon/it-upload.svg"></ion-icon>
                    </label>
                </a>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>