
.top-bar-titolo {
    color: #004D99;
    font-size: 20px;
    margin: 0;
}
.top-bar-attributes {
    color: #404040;
    font-size: 14px;
}
.top-bar-attributes-values {
    color: #404040;
    font-size: 14px;    
}
.titolo {
    color: #404040;
    font-size: 16px;
}
.attributes {
    color: #404040;
    font-size: 18px;
}
.attributes-value-validare {
    color:#404040;
    font-size:  14px;
}
.error {
    font-size: 12px;
    color: #D1344C;
    font-style: italic;
}
.validato {
    font-size: 12px;
    color: #A2ADB8;    
}
.item-container {
    .item {
        border-bottom: 1.2px dashed #5C6F82;
        text-align: left;
        height: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }    
    .item.disabled {
        // background-color: #F0F6FC;
        pointer-events: none;
    }
}
.progress-bar-determinate {
  height: 8px;
  --progress-background: #10D390;
  --background: white;
  
}
.top-bar {
    background-color: #CCE6FF;
    padding-top: 20px;
    // padding-bottom: 10px;
}