<ion-header *ngIf="attivita && presenze">
    <!-- <ion-toolbar *ngIf="backEnabled">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar> -->
    <ion-grid class="top-bar">
        <ion-row class="v-center top-bar-titolo text-semibold" *ngIf="backEnabled">
            <ion-back-button defaultHref="home"></ion-back-button>{{attivita.aa.titolo}}
        </ion-row>
        <ion-row *ngIf="!backEnabled">
            <span class="top-bar-titolo text-semibold">{{attivita.aa.titolo}}</span>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-progress-bar value="{{percentage}}"></ion-progress-bar>
            </ion-col>            
        </ion-row>
        <ion-row>
            <ion-col>
                <span class="top-bar-attributes text-semibold">Ore svolte:</span><span class="top-bar-attributes-values">{{attivita.oreValidate}}/{{attivita.oreTotali}}</span>
            </ion-col>            
        </ion-row>
        <br>
        <ion-row>
            <ion-col *ngIf="attivita.aa.oraInizio && attivita.aa.oraFine">
                <span class="top-bar-attributes text-semibold">Orario:</span>
                <span class="top-bar-attributes-values">{{attivita.aa.oraInizio }} - {{attivita.aa.oraFine}}</span>
            </ion-col>
            <ion-col class="float-right">
                    <span class="top-bar-attributes text-semibold">Periodo:</span>
                    <span class="top-bar-attributes-values">{{attivita.aa.dataInizio | date: 'dd/MM/yyyy' }} - {{attivita.aa.dataFine | date: 'dd/MM/yyyy' }}</span>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
                <ion-col size="8"><span class="titolo text-bold">Giorno</span></ion-col>
                <ion-col size="4"><span class="titolo text-bold">Ore</span></ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content *ngIf="attivita && presenze">
    <ion-list class="item-container">
                <div id="{{giorno.giornata}}" [style.background]="bgColor(giorno)" [class.disabled]="isInfuture(giorno) || giorno.verificata || attivita.aa.stato=='archiviata'" class="item" *ngFor="let giorno of presenze"
                    (click)="showPicker(giorno)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8">
                                <ion-row>
                                    <span [style.fontWeight]="fontWeight(giorno)" [style.color]="textColor(giorno)"
                                        class="attributes ion-text-lowercase">{{ giorno.giornata | date: 'dd MMM' }} 
                                        <span [style.fontWeight]="fontWeight(giorno)" [style.color]="textColor(giorno)" class="attributes ion-text-capitalize"> - {{ giorno.giornata | date: 'EEE' }}</span>
                                    </span>
                                </ion-row>
                                <ion-row *ngIf="isError(giorno)">
                                    <span class="error"><br>Attenzione: giornata non compilata</span>
                                </ion-row>
                                <ion-row *ngIf="giorno.verificata">
                                    <span class="text-italic validato"><br>Validato</span>
                                </ion-row>
                            </ion-col>
                            <ion-col size="4">
                                <span [style.fontWeight]="fontWeight(giorno)" [style.color]="textColor(giorno)" class="attributes">{{ viewOre(giorno) }}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-list>
</ion-content>