ion-content {
    --background: #0073E6;
    .container {
        color: #FFFFFF;
        text-align: center;
       .heading-1 {
            font-size: 30px;
        }
        .text {
            font-size: 18px;
        }    
        .icon {
            width:95px;
            height: 90px;
        }
        .button {
            background-color: #FFFFFF;
            color: #0073E6;
            font-weight: bold;
            text-transform: none;
        }
        .text2 {
            font-size: 16px;
        }
        .text3 {
            font-size: large;
            text-decoration: underline;
        }
        .error-div {
            border: 2px solid #D1344C;
            background: #FFFFFF;
        }
        .error-titolo {
            // font: normal 20px/42px Titillium Web;
            letter-spacing: 0;
            color: #D1344C;
            opacity: 1;
            font-size: 20px!important;
        }
        .error-text {
            color: #D1344C;
        }
    }
}

