ion-content {
    --background: #0073E6;
    .container {
        color: white;
        text-align: center;
       .heading-1 {
            font-size: 30px;
        }
        .text {
            font-size: 18px;
        }    
        .icon {
            width:95px;
            height: 90px;
        }
        .button {
            background-color: white;
            color: #0073E6;
            font-weight: bold;
            text-transform: none;
        }
        .text2 {
            font-size: 16px;
        }
        .text3 {
            font-size: large;
            text-decoration: underline;
        }
    
    }
    
    

}

