<ion-content fullscreen="true">
  <ion-grid class="container">
    <br>
    <div padding>
      <label class="heading-1 text-bold">Benvenuto in EDIT</label>
    </div>
    <div padding>
      <ion-icon class="icon" src="./assets/icon/landing-icon.svg"></ion-icon>
    </div>
    <br>
    <div padding>
      <label class="text">EDIT - Studente è l’app ufficiale della Provincia Autonoma di Trento per la gestione delle esperienze di alternanza scuola-lavoro</label>
    </div>
    <br>
    <br>
    <ion-button class="button text2" expand="full" fill="clear" (click)="signIn()">Login</ion-button>
    <!-- <br> -->
    <!-- <br> -->
    <!-- <div padding>
      <label class="text2">Non hai un account attivo?</label><br><br>
      <label class="text3" (click)="signIn()">Crea nuovo account</label>
    </div> -->
  </ion-grid>  
</ion-content>