<ion-header *ngIf="aa && es">
    <h1 class="v-center titolo text-semibold">
        <ion-back-button defaultHref="home"></ion-back-button>{{aa.titolo}}
    </h1>
    <ion-row *ngIf="buttonShow">
        <ion-col size="1"></ion-col>
        <ion-col size="5">
            <ion-button expand="outline" class="button-annulla text-bold ion-text-capitalize" size="small" (click)="cancel()">Annulla</ion-button>
        </ion-col>
        <ion-col size="5">
            <ion-button expand="outline" class="button-salva text-bold ion-text-capitalize float-right" size="small" (click)="save()">Salva</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
    </ion-row>
</ion-header>
<br>
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="ion-padding">
        <ion-grid class="valutazione" *ngIf="aa && es">
            <ion-row class="heading text-semibold">
                <ion-col size="3"></ion-col>
                <ion-col size="6" class="text-center">Valutazione attività</ion-col>
                <ion-col size="3"></ion-col>            
            </ion-row>
            <ion-row class="heading-text">
                <ion-col>Il seguente questionario serve per valutare la pertinenza di questa esperienza Alternanza Scuola-Lavoro con il tuo percorso formativo. Rispondi alle seguenti domande selezionando l’opzione che ti sembra adeguata. 
                </ion-col>
            </ion-row>
            <ion-row class="blue-line-divider"></ion-row>
            <ion-row class="report" [ngStyle]="styleReport(es)">
                <ion-col><span class="text-semibold">{{ domandeCompilati }}</span><span class="text-italic"> item compilati su </span><span class="text-semibold">{{ domanteTotale }}</span><span class="text-italic"> complessive</span></ion-col>
            </ion-row>
    
            <ion-list>
                <ion-item lines="none" *ngFor="let d of domande, let i=index">
                    <ion-radio-group [value]="true" [(ngModel)]="d.punteggio">
                        <ion-label class="domande ion-text-wrap">{{i+1}}.&nbsp;{{d.descrizione}}</ion-label>
                        <span *ngIf="d.rispostaChiusa">                            
                            <ion-item lines="none" *ngFor="let v of valutazione">
                                <ion-label class="domande">{{v.titolo}}</ion-label>
                                <ion-radio class="domande" slot="start" [value]="v.punteggio"></ion-radio>
                              </ion-item>
                        </span>
                        <span *ngIf="!d.rispostaChiusa">
                            <textarea (ionInput)=checkLimit() class="text-area" [(ngModel)]="d.risposta" name="note"></textarea>
                        </span>
                    </ion-radio-group>
                </ion-item>            
              </ion-list>        
        </ion-grid>
    </div>
</ion-content>