<ion-content fullscreen="true">
  <ion-grid *ngIf="aa" class="container">
    <br>
    <div class="ion-padding">
      <ion-icon class="icon" src="./assets/icon/landing-icon.svg"></ion-icon>
    </div>
    <div class="ion-padding">
      <label class="heading-1">Benvenuto*  {{dataService.studenteNome }} &nbsp; {{ dataService.studenteCognome}}</label>
    </div>
    <br>
    <div>
      <label class="text">Hai {{aa.length}} esperienze programma per oggi</label>
    </div>
    <br>
    <div>
      <label class="data text-bold">{{oggi}}</label>
    </div>
    <br>
    <div *ngIf="aa.length > 0">
      <label class="text">Seleziona l'esperienze e inserisci le ore svolte</label>
      <br>
      <div class="item-container">
        <div class="item" *ngFor="let esp of aa" (click)="openPresenze(esp)">
          <span class="titolo">{{esp.titolo}}
            <span *ngIf="esp.nomeEnte" class="attributes text-bold">
              <br><br>Presso:&nbsp;</span>
              <span class="attributes-value ion-text-capitalize">{{esp.nomeEnte}}</span>
          </span>
        </div>
      </div>
    </div>
   </ion-grid>  
</ion-content>
 