<ion-content fullscreen="true">
  <ion-grid *ngIf="aa" class="container">
    <br>
    <div class="ion-padding">
      <ion-icon class="icon" src="./assets/icon/landing-icon.svg"></ion-icon>
    </div>
    <div class="ion-padding">
      <label class="heading-1">Benvenuto {{dataService.studenteNome }} {{ dataService.studenteCognome}}</label>
    </div>
    <br>
    <div>
      <label *ngIf="aa.length > 0" class="text">Hai {{aa.length}} attività in programma per oggi</label>
      <label *ngIf="aa.length == 0" class="text">Non hai attività programma per oggi!</label>
    </div>
    <br>
    <div>
      <label *ngIf="aa.length > 0" class="data text-bold">{{oggi}}</label>
      <ion-icon *ngIf="aa.length == 0" class="sleeping-icon" src="./assets/icon/sleeping-baby-svgrepo-com.svg"></ion-icon>
    </div>
    <br>
    <div *ngIf="aa.length > 0">
      <label class="text">Seleziona l'attività e inserisci le ore svolte</label>
      <br>
      <div class="item-container">
        <div class="item" *ngFor="let esp of aa" (click)="openPresenze(esp)">
          <span class="titolo text-bold">{{esp.titolo}}</span>
          <span *ngIf="esp.nomeEnte" class="attributes text-bold">
            <br><br>Presso:&nbsp;</span>
          <span class="attributes-value ion-text-capitalize">{{esp.nomeEnte}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="aa.length == 0">
      <span class="text">Se hai ore da inserire su attività passate, le trovi nella sezione attività!</span>
    </div>
   </ion-grid>  
</ion-content>
 