
.container {
    color: #5C6F82;
    .titolo {
       font-weight: 800;
    }
    .normal {
        font-weight: 200;
    }
    .icon {
        font-size: 100px;
    }
    .link {
        color: #0073E6;
        font-weight: 700;
    }
}
