
.container {
    color: #5C6F82;
    .icon {
        font-size: 128px;
        color: #E9E9E9;
    }
    .button-logout {
        background-color: #CCE6FF;
        color: #1E4C96;
        font-size:17px;
    }
    .icon-edit {
        width: 24px;
        height: 24px;
    }
    .blue {
        color: #0066CC;
    }
}

