
.container {
    color: #5C6F82;
    .titolo {
       font-size: 24px;
    }
    .istituto {
        font-size: 14px;
    }
    .icon {
        font-size: 128px;
        color: #E9E9E9;
    }
    .link {
        color: #0073E6;
        font-size: 18px;
        text-decoration: underline;
    }
    .button-logout {
        background-color: #CCE6FF;
        color: #0073E6;
        font-size:17px;
    }
}
