  <ion-content [fullscreen]="true">
    <br>
    <br>
    <ion-grid class="container">
      <ion-row>
        <ion-col size="6">
          <ion-icon class="icon" name="md-contact"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-row><span class="titolo text-bold ion-text-uppercase">{{dataService.studenteNome}} {{dataService.studenteCognome}}</span></ion-row>
          <ion-row><span class="titolo text-bold ion-text-uppercase">{{dataService.classe}}</span></ion-row>
          <ion-row><span class="ion-text-capitalize">{{dataService.istituto}}</span></ion-row>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row><span class="link">Settings (lingua, notifiche, ecc)</span></ion-row>
      <br>
      <ion-row><span class="link">Credits</span></ion-row>
      <br>
      <ion-row><span class="link">Help</span></ion-row>
      <br>
      <ion-row><span  class="link" (click)="signOut()">Logout</span></ion-row>
    </ion-grid>
  </ion-content>
