.heading {
    color:#637587;
    font-size: x-large;
    font-weight: 600;
}
.item {
    background-color: #E7E6FF;
    border: 5px solid white;
}
.titolo {
    color: #0073E6;
    font-size: large;
    font-weight: 600;
}
.stato {
    float: right;
}
.attributes {
    font-weight: 700;
    color: #5C6F82;
}
.attributes-value {
    color: #5C6F82;
}
.sub-div-circle {
    height: 150px;
    width: 150px;
    float: right;
}