.heading {
    color:#0066CC;
    font-size: 24px;
}
.item {
    background-color: #F0F6FC;
    border: 1px solid #7FB2E5;
    margin: 10px 0;
}
.titolo {
    color: #0073E6;
    font-size: 16px;
}
.stato {
    color: #5C6F82;
}
.attributes {
    color: #5C6F82;
}
.attributes-value {
    color: #5C6F82;
}
.sub-div-circle {
    height: 130px;
    float: right;
}