<ion-header class="header">
  <ion-row *ngIf="summary">
    <ion-col class="attributes-value" size="8">
      <ion-row><span class="heading text-semibold">Le mie attività</span></ion-row>
      <br>
      <ion-row><span>Ore totali:&nbsp;</span><span>{{summary.oreValidate}}/{{summary.oreTotali}}</span></ion-row>
      <br>
      <br>
      <ion-row><span>{{summary.esperienzeConcluse}}&nbsp;esperienze concluse</span></ion-row>
      <br>
      <br>
      <ion-row><span>{{summary.espereinzeInCorso}}&nbsp;esperienze in corso</span></ion-row>
    </ion-col>
    <ion-col size="4">
      <ion-row></ion-row>
      <br>
      <span class="sub-div-circle">
        <circle-progress 
        [percent]="percentage"
        [radius]="100"
        [outerStrokeWidth]="50"
        [innerStrokeWidth]="50"
        [space] = "-30"
        [outerStrokeColor]="'#0073E6'"
        [innerStrokeColor]="'#e7e8ea'"
        [titleFontSize]= "40"
        [unitsFontSize]= "30"
        [showSubtitle] = "false"
        [animation]="true"
        [animationDuration]="300"
        [startFromZero]="false"
        [responsive]="true"
        [subtitle]=""
        [subtitleFontSize]="20"></circle-progress>
      </span>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
 <ion-grid class="padding-0">
        <ion-list>
          <div class="item" *ngFor="let esp of attivitaStudente">
            <ion-grid>
              <ion-row (click)="openDetail(esp)">
                <ion-col size="8"><span class="titolo ion-text-capitalize text-bold">{{esp.titolo}}</span></ion-col>
                <ion-col size="4">
                  <span class="float-right stato">
                    <span class="text-semibold">Stato:&nbsp;</span>
                    <span [style.color]="getColor(esp)">{{ getStatoNome(esp.stato) }}</span>
                  </span>                  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8">
                  <span class="link-presenze v-center" (click)="openPresenze(esp)">
                    <ion-icon class="icon" src="./assets/icon/it-calendar.svg"></ion-icon>&nbsp;Vedi presenze attività
                  </span>
                </ion-col>
                <ion-col size="4" (click)="openDetail(esp)">
                </ion-col>
              </ion-row>
              <ion-row (click)="openDetail(esp)">
                <ion-col><span class="attributes text-semibold">Ore inserite:&nbsp;</span><span
                    class="attributes-value">{{esp.oreValidate}}/{{esp.oreTotali}}</span></ion-col>
              </ion-row>
              <ion-row (click)="openDetail(esp)">
                <ion-col><span class="attributes text-semibold">Periodo:&nbsp;</span><span
                    class="attributes-value">{{esp.dataInizio | date: 'dd/MM/yyyy' }} -
                    {{esp.dataFine | date: 'dd/MM/yyyy' }}</span></ion-col>
              </ion-row>
              <ion-row *ngIf="esp.nomeEnte" (click)="openDetail(esp)">
                <ion-col><span class="attributes text-semibold">Presso:&nbsp;</span><span class="attributes-value ion-text-capitalize">{{esp.nomeEnte}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>
        <ion-infinite-scroll *ngIf="maybeMore" threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Caricamento...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ion-grid>
</ion-content>
