.header {
    z-index: 10;
    background: white;
}
.attributes-value {
    color: #5C6F82;
    font-size: 14px;
}
.heading {
    color:#0066CC;
    font-size: 23px;
}
.item {
    background-color: #F0F6FC;
    border: 1px solid #7FB2E5;
    margin: 10px 0;
}
.titolo {
    color: #0073E6;
    font-size: 16px;
}
.stato {
    color: #5C6F82;
    font-size: 14px;
}
.attributes {
    color: #5C6F82;
    font-size: 14px;
}
.sub-div-circle {
    height: 175px;
    width: 150px;
    float: right;
}
.padding-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.link-presenze {
    color: #0066CC;
    font-size: 14px;
}
.icon {
    width: 24px;
    height: 24px;
}