.top-bar-titolo {
    color: #0073E6;
    font-size: 20px;
}
.top-bar-attributes {
    color: #5C6F82 ;
    font-size: 24px;
}
.progress-bar-determinate {
    height: 7px;
    --progress-background: #10D390;
    --background: white;  
}
.item-container {
    .item {
         padding: 20px;
     }
    .text-area {
        align-content: left;
        width: 100%;
        color: #5C6F82;
        font-size: 14px;
        font-family: 'Titillium Web';
   }
}
.attributes-2 {
    color: #5C6F82;
    font-size: 20px;
}
.attributes-ore {
    font-size: 25px;
    color: #5C6F82;
}
.error {
    font-size: 13px;
    color: #FF667D;
}
.top-bar {
    background-color: #F0F6FC;
    padding-top: 24px;
}
.button-salva {
    color: #0073E6;
    --background: #CCE6FF;
    --border-color: #0073E6;
    --border-radius: 10px;
}
