<ion-header *ngIf="giorno && attivita">
    <!-- <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
            <span class="top-bar-attributes text-semibold ion-text-capitalize">{{attivita.aa.titolo}}</span>
        </ion-buttons>
    </ion-toolbar> -->
    <ion-grid class="top-bar">
        <ion-row class="v-center top-bar-titolo text-semibold">
            <ion-back-button defaultHref="home"></ion-back-button>{{attivita.aa.titolo}}
        </ion-row>
        <ion-row>
            <ion-col size="8"></ion-col>
            <ion-col>
                <span class="float-right top-bar-attributes text-bold">{{ giorno.giornata | date: 'dd/MM/yyyy' }}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-progress-bar value="{{percentage}}"></ion-progress-bar>
            </ion-col>
        </ion-row>
        <br>
    </ion-grid>
</ion-header>
<ion-content *ngIf="giorno && attivita" class="item-container">
    <div class="item">
        <br>
        <ion-row class="text-center" *ngIf="isError(giorno)">
            <span class="error">Attenzione: ore non inserite e/o diario non compilato</span>
            <br>
            <br>
        </ion-row>
        <ion-row>
            <span class="attributes-2">Ore inserite:</span>
        </ion-row>
        <ion-row>
            <span (click)="showPicker(giorno)" [style.color]="textColor(giorno)" class="attributes-ore"
                padding>{{ viewOre(giorno) }}</span>
        </ion-row>
        <br>
        <ion-row>
            <span class="attributes-2">Diario di bordo</span>
        </ion-row>
        <ion-row>
            <ion-textarea (ionInput)=checkLimit() (ionFocus)="onFocus()" (ionBlur)="onBlur()" [style.border]="border(giorno)" class="text-area"
                [(ngModel)]="giorno.attivitaSvolta" name="note" autocomplete="on" autocorrect="on"></ion-textarea> <!--(keyup.enter)="savePresenze(giorno)"-->
            
        </ion-row>
        <br>
        <ion-row>
            <ion-button expand="outline" class="button-salva text-bold ion-text-capitalize center-horizontally" [hidden]="env.showTabs" size="small" (mouseout)="savePresenze(giorno)">Salva</ion-button> <!--fill="outline"-->
        </ion-row>
    </div>
</ion-content>