<ion-header>
    <h1 class="v-center titolo text-semibold">
        <ion-back-button (click)="dismiss()" defaultHref="#"></ion-back-button>Caricamento file
    </h1>
    <span class="text-semibold">dimensione massima 10MB</span>
</ion-header>
<ion-content padding>
    <span>dimensione massima 10MB</span>
    <div *ngIf="!fileSelected">
        <ion-grid>
            <a class="noUnderLine" href="javascript:void(0);" (click)="create(1)">
                <ion-row id="1" class="item">
                    <h5 class="card-title text-semibold">Valutazione esperienza</h5>
                    <p class="card-text text-semibold">Carica la valutazione che tu hai fatto dell’esperienza svolta
                        presso questo ente.</p>
                </ion-row>
            </a>
            <br />
            <a class="noUnderLine" href="javascript:void(0);" (click)="create(2)">
                <ion-row id="2" class="item">
                    <h5 class="card-title text-semibold">Altro</h5>
                    <p class="card-text text-semibold">Carica un documento associato a questa esperienza.</p>
                </ion-row>
            </a>
        </ion-grid>
        <br />
        <div class="row" *ngIf="optionSelected">
            <div class="button-upload">
                <span class="label-button">
                    <label class="btn btn-primary btn-icon" placement="right"
                        ngbTooltip="Allega un nuovo documento all’attività">
                        Scegli file da dispositivo&nbsp;&nbsp;&nbsp;
                        <ion-icon class="icon" src="./assets/icon/it-upload.svg"></ion-icon>
                        <input #fileInput type="file" style="opacity:0;" (click)="fileInput.value = null" value=""
                            (change)="uploadDocument($event)">
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="fileSelected">
        <div class="file-selected">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <span class="attributes">
                            <span class="text-semibold">Nome file:&nbsp;&nbsp;&nbsp;</span>
                            <span>{{saveFileObj.file?.name}}</span>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <span class="attributes">
                            <span class="text-semibold">Tipologia:&nbsp;&nbsp;&nbsp;</span>
                            <span> {{ setDocType(saveFileObj.type) }}</span>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br />
        <br />
        <div class="row text-center">
            <ion-button expand="outline" (click)="carica()" class="button-salva text-bold ion-text-capitalize"
                size="small">Salva</ion-button>
            &nbsp;&nbsp;
            <ion-button expand="outline" (click)="dismiss()" class="button-annulla text-bold ion-text-capitalize"
                size="small">Annulla</ion-button>
        </div>
    </div>
</ion-content>