/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    font-family: "Titillium Web", sans-serif;
}

.float-right {
    float: right!important;
}

.text-center {
    text-align: center!important;
}

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 600;
}

.text-italic {
    font-style: italic;
}

ion-loading.custom-loading {
    --max-width: 220px;
    --max-height: 100px;
}

.loading-wrapper.sc-ion-loading-md {
    padding: 0;
}

img.animated-gif{
    width: 75px;
    height: 70px;
    padding: 2px;
}

img.icon {
    width: 30px;
    height: 30px;
    padding: 2px;
}

.v-center {
   display: flex;
   align-items: center;
 }
  
 .v-center-inline {
   display: inline-flex;
   align-items: center;
 }
  
 .overlay-content {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #F0F6FD;
    border: 3px solid #0066CC;
    border-left: 20px solid #0066CC;
    border-radius: 5px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    cursor: pointer;
    padding: 5;
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s; 
    -o-transition: opacity 1s;
    transition: opacity 1s;        
  } 

  .overlay-content-successo {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #F0F6FD;
    border: 3px solid #7FB2E5;
    border-left: 20px solid #7FB2E5;
    border-radius: 5px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    cursor: pointer;
    padding: 5;
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s; 
    -o-transition: opacity 1s;
    transition: opacity 1s;        
  }

  .overlay-content-errore {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #F0F6FD;
    border: 3px solid #F83E5A;
    border-left: 20px solid #F83E5A;
    border-radius: 5px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    cursor: pointer;
    padding: 5;
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s; 
    -o-transition: opacity 1s;
    transition: opacity 1s;        
  }

  .overlay-content-warning {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #F0F6FD;
    border: 3px solid #FF9700;
    border-left: 20px solid #FF9700;
    border-radius: 5px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    cursor: pointer;
    padding: 5;
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s; 
    -o-transition: opacity 1s;
    transition: opacity 1s;        
  }

  .tip-msg {
    font-size: 12px;
    color: #707070;
  }
  
  .center-horizontally {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

 .my-custom-modal-css .modal-wrapper {
    // max-height: calc(100vh - 10vh);
    max-height: calc(100vh - 50px);
    position: absolute;
    top: 0px;
 }

 .my-custom-class .alert-wrapper {
    .secondary {
        color:#eb445a;
    }
    .camelcase {
      text-transform: none;
    }
    .alert-head {
      text-align: center;
      font-weight: 600;
      .alert-title {
        color: #0066CC!important;
      }
    }    
}

// .alert-radio-group::-webkit-scrollbar, .alert-checkbox-group::-webkit-scrollbar {
//   width: 1em;
//   display: block !important;
// }

// .alert-radio-group::-webkit-scrollbar-track, .alert-checkbox-group::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

// .alert-radio-group::-webkit-scrollbar-thumb, .alert-checkbox-group::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }

.font-13 {
  font-size: 13px!important;
}
.font-14 {
  font-size: 14px!important;
}
.font-24 {
  font-size: 24px!important;
}
.noUnderLine {
  text-decoration: none!important;
}
.header-md:after {
  background-image: none;
}
